@model BatchImageDiagnosis

@{   
    ViewBag.Title = "Project Details";
    var photoPath = "~/images/";
}

<div class="card-deck">

    <h3>@Model.Name</h3>
    <h3>@Model.Id</h3>

    @for(int i = 0; i < Model.Photos.Count; i++)
    {
        var imageresult = Model.ImagesResults[i].imageresult;
        var imageName = Model.Photos[i].PhotoPath;
        var photo = photoPath + imageName;
        <h3>@imageresult</h3>
        <h3>@photo</h3>
        <img class="card-img-top imageThumbnail"  src="@photo" asp-append-version="true"/>
    }
    <h3>@Model.Photos.Count</h3>

</div>
