@model BatchImageDiagnosis

@{   
    ViewBag.Title = "Project Details";
    var photoPath = "~/images/";
}

<div class="card-deck">

    <h3>Project Name: @Model.Name</h3>
    <h3>Number of images diagnosed are: @Model.Photos.Count</h3>

    @for(int i = 0; i < Model.Photos.Count; i++)
    {
        var imageresult = Model.ImagesResults[i].imageresult;
        var imageName = Model.Photos[i].PhotoPath;
        var photo = photoPath + imageName;
        var result = Model.ImagesResults[i];

        <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
            
            <div>
                <h3>@imageresult</h3>
            </div>
            
            <img class="card-img-top imageThumbnail"  src="@photo" asp-append-version="true"/>
        </div>
    }

    <div class="status" id="imagesStatusContainer">

    </div>
</div>


@section Scripts
    {
    <script>
        function getImagesStatus(id) {
            $.ajax({
                url: '@Url.Action("GetResultsFromBatchExample", "Diagnosis")', // controller name and action name
                data: { id: id },
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    // Update the content of the "imagesStatusContainer" div with the received data
                    $('#imagesStatusContainer').html(data);
                    console.log(data);
                },
                error: function () {
                    alert('Failed to fetch data.');
                }
            });
        }

        // Call the function when the page loads or when a specific event occurs
        getImagesStatus(@Model.Id);
    </script>
}


@* <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript">
    function OnSuccess(data){
        const barChart = document.getElementById('myChart');
        var_data = data;
        var labels = _data[0];
        var _ChartData = _data[1];
        var colors = ["Red", "Green"];

        var Chart(barChart,
        {
            type: "bar",
            data: {
                labels: _labels,
                datasets: [{
                    backgroundColor: colors,
                    data: _ChartData,
                    borderwidth: 1
                }]
            }
        });
    }
</script> *@
