@model BatchImageDiagnosis

@{   
    ViewBag.Title = "Project Details";
    var photoPath = "~/images/";
}

<div class="row">

    <h3>Project Name: @Model.Name</h3>
    <h3>Number of images diagnosed are: @Model.Photos.Count</h3>

    @for(int i = 0; i < Model.Photos.Count; i++)
    {
        var imageresult = Model.ImagesResults[i].imageresult;
        var imageName = Model.Photos[i].PhotoPath;
        var photo = photoPath + imageName;
        var result = Model.ImagesResults[i];

        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card" style="min-width: 18rem; max-width:30.5%;">
                <div>
                    <h3>@imageresult</h3>
                </div>
                <img class="card-img-top imageThumbnail"  src="@photo" asp-append-version="true"/>
            </div>
        </div>
        
        @* Add a new row after every second image *@
        @if ((i + 1) % 2 == 0)
        {
            <div class="row"></div>
        }
    }

</div>



@section Scripts
    {
    <script>
        function getImagesStatus(id) {
            $.ajax({
                url: '@Url.Action("GetResultsFromBatchExample", "Diagnosis")', // controller name and action name
                data: { id: id },
                type: 'GET',
                dataType: 'text',
                success: function (data) {
                    // Update the content of the "imagesStatusContainer" div with the received data
                    $('#imagesStatusContainer').html(data);
                    console.log(data);
                },
                error: function () {
                    console.log('Failed to fetch data.');
                }
            });
        }

        // Call the function when the page loads or when a specific event occurs
        getImagesStatus(@Model.Id);
    </script>
}