@model BatchImageDiagnosis

@{   
    ViewBag.Title = "Project Details";
    var photoPath = "~/images/";
}

<div class="card-deck">

    <h3>Project Name: @Model.Name</h3>
    <h3>Number of images diagnosed are: @Model.Photos.Count</h3>

    @{
        //Get imageresults, parse them and store them as a list of floats.
        List<float> ImageResultsList = new List<float>();

        for (int i = 0; i < Model.ImagesResults.Count; i++)
        {
            var imageresult = Model.ImagesResults[i].imageresult;
            //Convert string to float.
            if (float.TryParse(imageresult, out float floatValue))
            {
                ImageResultsList.Add(floatValue);
            }
        }
    }

    @for(int i = 0; i < Model.Photos.Count; i++)
    {
        var imageresult = Model.ImagesResults[i].imageresult;
        var imageName = Model.Photos[i].PhotoPath;
        var photo = photoPath + imageName;

        <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
            
            <div class="card-header">
                <h3>@imageresult</h3>
            </div>
            
            <img class="card-img-top imageThumbnail"  src="@photo" asp-append-version="true"/>
        </div>
        <div>
            <h2>@ImageResultsList[i]</h2>
        </div>
    }

    <div>
        <canvas id="myChart" width="200" height="110" style="width: 197px;height:110px"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript">
    function OnSuccess(data){
        const barChart = document.getElementById('myChart');
        var_data = data;
        var labels = _data[0];
        var _ChartData = _data[1];
        var colors = ["Red", "Green"];

        var Chart(barChart,
        {
            type: "bar",
            data: {
                labels: _labels,
                datasets: [{
                    backgroundColor: colors,
                    data: _ChartData,
                    borderwidth: 1
                }]
            }
        });
    }
</script>
